
<div *ngIf="contactList.length > 0; else noContactList">
  <mat-paginator
    #paginatorTop
    pageSize="9"
    hidePageSize="true"
    (page)="onPageChange($event)"
    showFirstLastButtons
  ></mat-paginator>

  <section class="container--contact" tabindex="0">

    <app-contact-card></app-contact-card>

  </section>

  <mat-paginator
    #paginatorBottom
    pageSize="9"
    hidePageSize="true"
    (page)="onPageChange($event)"
    showFirstLastButtons
  ></mat-paginator>

</div>

<ng-template #noContactList>

  <div style="display: flex;justify-content: center;">
    <h2>There are no contacts to show.</h2>
  </div>

</ng-template>
