<div class="contact-paginated" *ngIf="contactsList.length > 0; else noContactList">
  <!-- Paginator top -->
  <mat-paginator
    pageSize="9"
    hidePageSize="true"
    [length]="totalCount"
    (page)="onPageChange($event)"
    showFirstLastButtons
  ></mat-paginator>

  <!-- Contact cards -->
  <section class="container-contact mat-elevation-z8" tabindex="0">

    <div *ngFor="let contact of contactsList">
      <app-contact-card [contact]="contact"></app-contact-card>
    </div>

  </section>

</div>

<ng-template #noContactList>
  <div style="display: flex; justify-content: center">
    <h2>There are no contacts to show.</h2>
  </div>
</ng-template>
