<div *ngIf="contactsList.length > 0; else noContactList">
  <!-- Paginator top -->
  <mat-paginator
    pageSize="9"
    hidePageSize="true"
    [length]="totalCount"
    (page)="onPageChange($event)"
    showFirstLastButtons
  ></mat-paginator>

  <!-- Contact cards -->
  <section class="container--contact" tabindex="0">
    <mat-grid-list
      [cols]="gridCols"
      rowHeight="2:1"
      gutterSize="16px"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayout.gt-sm="row"
      tabindex="0"
    >
      <mat-grid-tile *ngFor="let contact of contactsList">
        <app-contact-card [contact]="contact"></app-contact-card>
      </mat-grid-tile>

    </mat-grid-list>
  </section>

</div>

<ng-template #noContactList>
  <div style="display: flex; justify-content: center">
    <h2>There are no contacts to show.</h2>
  </div>
</ng-template>
